endpoints:
{% for domain in gatus_domains %}
  - name: {{ domain.name }}
    url: {{ domain.url }}
    interval: {{ domain.interval | default('30s') }}
    conditions:
      - "[STATUS] == 200"
{% endfor %}