{{ hostip }}    {{ domain }}    {{ domain_notld }}
{{ hostip }}    vaultwarden.{{ domain }}    vaultwarden.{{ domain_notld }}
{{ hostip }}    pihole.{{ domain }}    pihole.{{ domain_notld }}
{{ hostip }}    gatus.{{ domain }}    gatus.{{ domain_notld }}
